*{
    box-sizing: border-box;
    overflow:auto;
    font-family: 'Source Code Pro', monospace;
    
}
body{
    background-color:slategray;
}

.headerNavBar{
    box-shadow: 5px 5px black;
    border: 5px solid gray;
}

    



