#header{
    display: flex;
    background-color:rgb(16, 136, 255);
    color:white;
    height:100px;
    font-size: 75px;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 5px solid lightgray;
    
     
    
    
}

.site-links{
    height:30px;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro', monospace;
    
    
    
    
    
}
.links{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    background-color:rgb(16, 136, 255);
    color:white;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    

    
    

}