.my-posts{
    background-color: lightgray;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 5px 5px black;
}
.my-posts-buttons{
    display: flex;
    justify-content: flex-end;
}

.profile-statement{
    text-align: end ;
}
.my-messages{
    background-color: lightgray;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 5px 5px black;
}
.not-active{
    background-color: red;
    color:white;
}
.still-active{
    background-color: green;
    color:white;
}

h2{
    color:#E8E9ED;
}
h3{
    color: #E8E9ED;
}